<template>
  <RenderContent :content="content" />
</template>

<script lang="ts">
import Vue from 'vue'
import {Logger, onSSR} from '@vue-storefront/core'

export default Vue.extend({
  name: 'Page',
  props: {
    content: {
      type: Array,
      default: () => [],
    },
    title: {
      type: String,
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
})
</script>
