<template>

  <div id="wrapper">
    <div>Put content below me!</div>
    <div v-if="loading">Loading content...</div>


    <RenderContent :content="content" />

  </div>


</template>


<script>
import {Logger, onSSR} from '@vue-storefront/core'
import {useContent} from '@vsf-enterprise/contentful'
import RenderContent from '~/components/cms/page/RenderContent.vue'
import Page from '~/components/cms/page/Page.vue'
import Banner from '~/components/cms/page/Banner.vue'


export default {
  components: {
    RenderContent,
    Page
  },


  setup() {

    const {search, content, loading, error} = useContent()
    // get data
    onSSR(async () => {

      try {
        Logger.info('Lets get some content')
        // await search({ url: 'test-content-page' })
         await search({ id: 'mlOLjZg9QCr15GwtejPPQ' })
        // await search({
        //   custom: {
        //     field: 'url',
        //     value: 'test-content-page',
        //     type: 'page.'
        //   }
        // })

        Logger.info('Verify content on page ' + JSON.stringify(content))



      //  Logger.info('Verify content on page ' + JSON.stringify(content.value[0].fields.description))
      } catch (e) {
        Logger.error(e)()
      }
    })



    // return data
    return {
      content,
      loading,
      error,
    }
  }
}
</script>
